body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.centered {
  display: block;
  border-radius: 25px;
  border: 1px solid rgba(200, 200, 200, 0.5);
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 1.5%;
  background-color: rgba(200, 200, 200, 0.5);
}

.Selected {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  height: fit-content;
  width: fit-content;
  margin: 0px;
  padding: 26px;
}

.Weather_Chart {
  padding: 0px;
  margin: 0px;
}
.Weather_Chart {
  margin: 0px;
}

.unit {
  width: 30px;
  height: 30px;
  padding: 0px;
  border: rgba(333, 333, 333, 0.9);
  border-radius: 20%;
  color: black;
  background-color: aliceblue;
}
.unit:hover {
  background-color: rgba(333, 333, 333, 0.3);
  border: rgba(333, 333, 333, 0);
}

.CC {
  height: fit-content;
  width: fit-content;
}
.Selected .row > h1 {
  text-align: center;
  justify-content: center;
  display: block;
}
.btn {
  background-color: whitesmoke;
}

#button-addon2 {
  background-color: black;
  color: aliceblue;
  border: 0cap;
  margin-left: 2px;
}

#button-addon2:hover {
  background-color: aliceblue;
  color: black;
  border: aliceblue;
}

#My-coords {
  background-color: rgb(39, 180, 180);
  color: aliceblue;
  border: rgb(19, 140, 140);
}

#My-coords:hover {
  background-color: aliceblue;
  color: black;
}

.Selected .emoji {
  text-align: center;
}
.row {
  padding: 5px;
  justify-content: center;
}
.card {
  background-color: rgba(300, 300, 300, 0.6);
  transition: ease-in-out 0.3s;
}

.card:hover {
  background-color: rgba(333, 333, 333, 0.9);
}

.Weather-card {
  transition: ease-in-out 0.3s;
}
.Weather-card > h2,
b,
emoji {
  align-items: center;
  font-size: 25px;
  text-align: center;
}

.Weather-card > p {
  font-size: 20px;
  text-align: center;
}
.Weather-card:hover {
  background-color: rgba(355, 355, 355, 0.9);
}

.Prediction {
  font-size: 15px;
}
.Forcast-desc {
  text-transform: capitalize;
  text-align: center;
  font-size: 18px;
}

footer {
  font-family: monospace;
  text-align: center;
}

.loader {
  height: 35%;
  width: 35%;
  margin: auto;
  margin-left: 30%;
  margin-top: 10%;
}

.loader {
  height: 200px;
  width: 200px;
  position: absolute;
}
